:root {
--state: #434455;
--navy-blue: #2e2f42;
--cornflower: #E7E9FC;
--iris: #4D5AE5;
--ocean: #404BBF;
--cloud: #F4F4FD;
--white: #ffffff;

}

p,h1,h2,h3,h4,h5,h6 {
    padding: 0%;
    margin: 0%;
}

li {
    margin: 0%;
    padding-left: 0%;
}

img {
    display: block;
}

body{font-family: "Roboto", sans-serif;
    color: var(--state);
    background-color: var(--white);
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    align-items: center;
    justify-content: space-between;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {list-style: none;
padding: 0;
margin: 0;}

.link {text-decoration: none;}



.address {
       margin-left: auto;
    }
    .item {
       
        
    }

.nav-header {
    display: flex;
    gap: 40px;
    align-items: center;    
    
}

.header-link {
    display: flex;
    gap: 40px;}

.address-list {
    display: flex;
        gap: 40px;
}

.logo-link-header.link {

    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
 
}


.logo-link.link {

    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
    margin-bottom: 16px;
}


        .logo-link.link:hover,
        .logo-link.link:focus, 
        .nav-list.link:hover,
        .nav-list.link:focus,
        .contact-link.link:hover,
        .contact-link.link:focus
        {color: #404bbf;}



.logo-accent {color:#2e2f42}



.nav-list.link {
    padding: 24px 0;
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: block;}

   



    .contact-link {
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;

    }



.section-one {
    padding: 188px 0;
    text-align: center;
    background: var(--navyblue, #2E2F42);}

.section-one-text {
    max-width: 496px;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;}

.section-one-button {
    border-radius: 4px;
    border: none;
    height: 56px;
    min-width: 169px;
    display: block;
    background-color: var(--iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;}

.section-one-button:hover {
        background-color: var(--ocean);
    }
.section-one-button:focus {
        background-color: var(--ocean);
    }

.section-two {
    padding: 120px 0;
}

    .section-two-title,
    .titie-p
     {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
         color: var(--navy-blue);
    }
    .section-two-text {
        line-height: 1.5;
        letter-spacing: 0.02em;

    }
.section-two-title {
    margin-bottom: 8px;
}

.section-two-list {
    display: flex;
    gap: 24px;
}
.section-two-list-element{
width: calc((100% - 72px) / 4);
}

    .section-three-title,
    .section-four-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: var(--navy-blue);
        letter-spacing: 0.02em;
    }

    .section-three {
    padding-bottom: 120px;
    }
    .section-three-title {
    margin-bottom: 72px;
    }
    .section-three-list {
        display: flex;
    gap: 24px;
    }

    .section-four {
        padding: 120px 0;
        background-color: #F4F4FD;
    }

.section-four-list {
display: flex;
gap: 24px;
border-radius: 0px 0px 4px 4px;
background-color: #FFFFFF;
}

.section-four-item
{border-radius: 0px 0px 4px 4px;}

.section-four-item:first-child {
    width: calc((100% - 72px) / 4);}

.section-four-item:last-child {
margin-right: 0;
}

.section-four-title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
    margin-bottom: 8px;

}

.woker-name {
    padding: 32px 0;
}

.section-four-title {
    margin-bottom: 72px;
}
    .section-four-text {
        text-align: center;
        margin-bottom: 72px;
    }

    .section-four-text,
    .text-p
     {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--state);
    }

    .footer {
        padding: 100px 0;
        background-color: var(--navy-blue);
    }
    .logo-accent-dark {
        color: #f4f4fd; 
    }
    .footer-text {
        line-height: 1.5;
        color: var(--cloud);
        letter-spacing: 0.02em;
    }

    /* portfolio */

        .button-p {
            border-radius: 4px;
            border: 1px solid #e7e9fc;
            padding: 12px 24px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: var(--iris);
            background-color: var(--cloud);
            cursor: pointer;
        }

        .button-p:hover,
        .button-p:focus {
            color: var(--white);
            background-color: var(--ocean);
            border: 1px solid transparent;
        }
        .section-p {
            padding-top: 96px;
            padding-bottom: 120px;

        }
        .list-p {
            display: flex;
            justify-content: center;
            gap: 24px;
            margin-bottom: 72px;
        }

   .list-p-second {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       row-gap: 48px;
        column-gap: 24px;
        
   }
   .item-p {
    width: calc((100% - 48px) / 3);
   }

   .link-p {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px
   }
    .titie-p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px
           }